div.student-info {
  font-size: 1.1rem;
  color: #777777;
}

span.student-info {
  padding: 0.2rem;
}

#subhead {
  color: #777777;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

div#talbe {
  text-align: center;
}

table {
  color: #777777;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

table, th, td{
  border-collapse: collapse;
  border: 1px solid #ccc;
}

thead {
  color: white;
  background: #673ab7;
}

th, td{
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  padding: 0.4rem;
}

tbody > tr > th {
  background-color: #e2e0e0;
}

td.absent {
  background-color: #ffffc4;
}
td.unknown{
  background-color: #ffadad;
}