<div id="date">
    <button mat-button (click)="previous()"><mat-icon>keyboard_arrow_left</mat-icon></button>
      {{ date | date:'yyyy年MM月'}}
    <button mat-button (click)="next()"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>

<table>
  <thead>
    <tr>
      <th>出席番号</th>
      <th>名前</th>
      <th *ngFor="let day of days.slice(offset, offset + 5)">{{ day | date:'d' }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td routerLink="/atnd-mgt-student/month/{{date.getFullYear()}}/{{date.getMonth()}}/student/{{user.id}}">{{ user.attendanceNumber }}</td>
      <td>{{ user.userName }}</td>
      <td *ngFor="let atnd of user.atnds.slice(offset, offset + 5)">
        <button mat-button (click)="openDialog(atnd)">
          登校時刻{{ atnd.cameAt }}<br>下校時刻{{ atnd.leavedAt }}
        </button>
      </td>
    </tr>
  </tbody>
</table>