<div>
    <span>1限目</span>
    <mat-form-field>
        <mat-select [(ngModel)]="data.atnd.atnd1" (change)="changeState({atnd1: data.atnd.atnd1})">
            <mat-option *ngFor="let atndCode of atndCodes; index as idx;" [value]="idx">{{ atndCode }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <span>2限目</span>
    <mat-form-field>
        <mat-select [(ngModel)]="data.atnd.atnd2" (change)="changeState({atnd2: data.atnd.atnd2})">
            <mat-option *ngFor="let atndCode of atndCodes; index as idx;" [value]="idx">{{ atndCode }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <span>3限目</span>
    <mat-form-field>
        <mat-select [(ngModel)]="data.atnd.atnd3"  (change)="changeState({atnd3: data.atnd.atnd3})">
            <mat-option *ngFor="let atndCode of atndCodes; index as idx;" [value]="idx">{{ atndCode }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <span>4限目</span>
    <mat-form-field>
        <mat-select [(ngModel)]="data.atnd.atnd4" (change)="changeState({atnd4: data.atnd.atnd4})">
            <mat-option *ngFor="let atndCode of atndCodes; index as idx;" [value]="idx">{{ atndCode }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <span>5限目</span>
    <mat-form-field>
        <mat-select [(ngModel)]="data.atnd.atnd5" (change)="changeState({atnd5: data.atnd.atnd5})">
            <mat-option *ngFor="let atndCode of atndCodes; index as idx;" [value]="idx">{{ atndCode }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>